<h2 style="text-align: center;margin-bottom: 10;">Register</h2>
<body>
    <form [formGroup]="registerForm" class="form">
        <div class="inputRow">
            <label class="label" style="width: 100px;" for="firstName">FirstName</label>
            <input class="input" type="text" name="firstName" formControlName="firstName" />
        </div>
        <div class="inputRow">
            <label class="label" style="width: 100px;" for="lastName">LastName</label>
            <input class="input" type="text" name="lastName" formControlName="lastName" />
        </div>
        <div>
            <label class="label" style="width: 100px;" for="dob">DateOfBirth</label>
            <input type="date" class="input" name="dateOfBirth" formControlName="dateOfBirth" />
        </div>
        <div class="inputRow">
            <label class="label" style="width: 100px;" for="team">Team</label>
            <input class="input" type="text" name="team" formControlName="team" />
        </div>
        <div class="inputRow">
            <label class="label" style="width: 100px;" for="emailId">EmailId</label>
            <input class="input" type="text" name="emailId" formControlName="emailId" />
        </div>
        <div class="inputRow">
            <label class="label" style="width: 100px;" for="password">Password</label>
            <input class="input" type="password" name="password" formControlName="password" />
        </div>
        <button class="button" (click)="register()">
            Register
        </button>
        <a routerLink="/login"> Go To Login </a>
    </form>
</body>
